/* typography */


@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 100 900;
    src: url('../fonts/Fraunces[SOFT,WONK,opsz,wght].ttf') format('truetype');
}

@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 100 900;
    src: url('../fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].ttf') format('truetype');
}


$font: "Fraunces", serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;

// Define font variation settings as variables
$font-opsz-body: 10;
$font-soft-body: 1;
$font-wght-body: 300;
$font-wonk-body: 1;

$font-opsz-heading: 10;
$font-soft-heading: 0;
$font-wght-heading: 700;
$font-wonk-heading: 1;

$font-opsz-p: 10;
$font-soft-p: 1;
$font-wght-p: 200;
$font-wonk-p: 1;

$font-opsz-p: 10;
$font-soft-p: 1;
$font-wght-p: 200;
$font-wonk-p: 1;

// Apply font-variation-settings to different elements
body {
    font-variation-settings: "opsz"#{$font-opsz-body},
    "soft"#{$font-soft-body},
    "wght"#{$font-wght-body},
    "wonk"#{$font-wonk-body};
}

h1 {
    font-variation-settings: "opsz"#{$font-opsz-heading},
    "soft"#{$font-soft-heading},
    "wght"#{$font-wght-heading},
    "wonk"#{$font-wonk-heading};
}

.p {
    font-variation-settings: "opsz"#{$font-opsz-p},
    "soft"#{$font-soft-p},
    "wght"#{$font-wght-p},
    "wonk"#{$font-wonk-p};
}

.p {
    font-variation-settings: "opsz"#{$font-opsz-p},
    "soft"#{$font-soft-p},
    "wght"#{$font-wght-p},
    "wonk"#{$font-wonk-p};
}