/* typography */


@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 100 900;
    src: url('../fonts/Fraunces[SOFT,WONK,opsz,wght].ttf') format('truetype');
}

@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 100 900;
    src: url('../fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].ttf') format('truetype');
}


$font: "Fraunces", serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;

/* Define a variable for the common optical size value */
$font-opsz: 10;

body {
    font-variation-settings: 'opsz'#{$font-opsz},
    'soft' 1,
    'wght' 300,
    'wonk' 1;
}

header {
    font-variation-settings: 'opsz'#{$font-opsz},
    'soft' 0,
    'wght' 700,
    'wonk' 1;
}

.header__desc {
    font-variation-settings: 'opsz'#{$font-opsz},
    'soft' 1,
    'wght' 200,
    'wonk' 1;
}

.header__desc--first {
    font-variation-settings: 'opsz'#{$font-opsz},
    'soft' 1,
    'wght' 200,
    'wonk' 1;
}